<!-- views/posts/new.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <form action="/users" method="post">

        <div class="form-group">
          <label for="title">ID</label>
          <input type="text" id="userId" name="userId" value="" class="form-control">
        </div>
        
        <div class="form-group">
            <label for="title">PW</label>
            <input type="text" id="userPw" name="userPw" value="" class="form-control">
        </div>
        <div class="form-group">
            <label for="title">NAME</label>
            <input type="text" id="userName" name="userName" value="" class="form-control">
        </div>

        <div>
          <a class="btn btn-primary" href="/users">Back</a>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>

      </form>

    </div>
  </body>
</html>